<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <title>Django Pagination</title>
    <style>
        .jumbotron {
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            background-color: #e9ecef;
            border-radius: .3rem;
        }
    </style>
</head>

<body>
    <div style="display: flex; justify-content: center; align-items: center;height: 100vh;">
        <div class="container"  >
            <div class="jumbotron">
                {% for post in posts %}
                <h1 class="display-4">{{post.title}}</h1>
                Published <b>{{post.publish}}</b> by <b>{{post.author}}</b>
                {{post.body|truncatewords:30|linebreaks}}
                <hr class="my-4">
                {% endfor %}
            </div>
            {% include 'pagination.html' with page=posts %}
        </div>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>